/**
 * Hoja de estilo para proyecto AMDEL
 * @author Mario Vial <mariovials@gmail.com>
 */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,500,300,100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

@import 'media_425.css?v=1';
@import 'media_768.css?v=1';
@import 'media_1024.css?v=1';

/**
 * Generales
 */
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
html, body, #pagina {
  min-width: 303px;
}
body {
  overflow-y: scroll;
  font-family: Roboto, Tahoma, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}
h1,
h2,
h3 {
  color: #000;
}
h1 {
  font-size: 2.5em;
  margin: 5rem auto;
}
h2 {
  font-size: 2.5em;
}
*:focus {
  outline: 0;
}

/**
 * Página
 */
#pagina {
}

/**
 * Header
 * - menu
 * - buscador
 * - home
 */
#header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: : #FFF;
  width: 100%;
}
#header.scroll {
  box-shadow: 0 0 0.6em -0.2em #000;
}
/* header claro */
#header.claro {
  background-color: rgba(255, 255, 255, 0.8);
}
#header.claro #menu a {
  color: #555;
}
#header.claro #menu a.activo,
#header.claro #menu a:hover {
  color: #000;
}
/* header oscuro */
#header.oscuro {
  background-color: rgba(0, 0, 0, 0.8);
}
#header.oscuro #menu a {
  color: #CCC;
}
#header.oscuro #menu a.activo,
#header.oscuro #menu a:hover {
  color: #FFF;
}
/* header blanco */
#header.blanco {
  background-color: #FFF;
}
#header.blanco #menu a {
  color: #444;
}
#header.blanco #menu a.activo,
#header.blanco #menu a:hover {
  color: #000;
}

#header nav {
}
#header nav #menu-icon {
  background: none;
  border: none;
  color: #777;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  font-size: 1.3rem;
  line-height: 1rem;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}
#header nav #logo {
  background-image: url(/img/logo_23_200x70.png);
  height: 4.4em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header nav #buscador-box {
  float: left;
  width: 10em;
  transition: all 400ms;
}
#buscador-box #buscador {
  background-image: url('../img/iconos/lupa.png');
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  font-size: 1.3em;
  padding: 0.5em 2.5em 0.5em 0.8em;
  border-radius: 0.2em;
  width: 100%;
  border: 1px solid transparent;
  transition: all 400ms;
  background-color: transparent;
  margin: 0;
}
#buscador:active,
#buscador-box.hover #buscador,
#buscador-box:hover #buscador {
  border: 1px solid #CCC;
  background-color: #FFF;
}
#header nav #buscador-box #buscador-resultados {
  text-align: left;
  max-height: calc(100vh - 3.6rem);
  overflow-y: scroll;
  box-shadow: 0em 0.2em 0.5em -0.1em #000;
  background-color: #FFF;
  transition: all 400ms;
  overflow-y: hidden;
}
#header nav #buscador-box #buscador-resultados ul {
  width: 100%;
  position: relative;
  padding: 0;
  padding: 0.2em 0;
  border: 1px solid #DDD;
  border-top: 1px solid #EEE;
  max-height: 85vh;
}
#header nav #buscador-box #buscador-resultados ul li {
  width: 100%;
  list-style: none;
  padding: 0.2em 0.5em;
}
#header nav #buscador-box #buscador-resultados ul li.selected,
#header nav #buscador-box #buscador-resultados ul li:hover {
  background: #DDD;
}
#header nav #buscador-box #buscador-resultados ul li a .miniatura {
  width: 20%;
  display: inline-block;
  background-size: cover;
  background-position: 50%;
  height: 3em;
  vertical-align: top;
}
#header nav #buscador-box #buscador-resultados ul li a .informacion {
  display: inline-block;
  width: 78%;
  vertical-align: top;
  padding: 0 0 0 0.5em;
}
#header nav #buscador-box #buscador-resultados ul li a .informacion .titulo {
  padding: 0.3em 0 0em;
  font-family: 'Roboto Condensed', Roboto, sans-serif;
  font-size: 1.1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#header nav #buscador-box #buscador-resultados ul li a .informacion .data {
  font-size: 0.7em;
  font-weight: 500;
}
#header nav #buscador-box #buscador-resultados ul li a .informacion .data .tipo {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#header nav #menu {
  margin: 0;
  text-align: right;
}
#header nav #menu li {
  font-size: 1.2em;
  text-align: center;
  font-size: 1.3em;
}
#header nav #menu li a.activo {
}
#header nav #menu li#portada-menu a.activo {
  display: none;
}
#header nav #menu li a {
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  text-transform: uppercase;
  color: #777;
  text-decoration: none;
  padding: 1em 0.7em;
  display: block;
}

/**
 * Contenido
 * - Estilo para las diferentes páginas
 */

#contenido header {
  border-bottom: 0.1em solid #333;
  margin-bottom: 5em;
}
#contenido #portada header,
#contenido #serie article > header {
  border-bottom: none;
}
#contenido header h1 {
  padding: 0em;
  margin: 0 0 0.5rem;
}
#contenido .relacionados {
  margin: 0 5%;
}
#contenido .relacionados header {
  margin: 3em 0 1em;
  grid-column: 1 / -1;
}
#contenido .relacionados header h2 {
  font-size: 1.9rem;
  color: #000;
  float: none;
  font-weight: 600;
  margin: 0 0 0.2em 0 ;
  letter-spacing: -0.03em;
}
#publicaciones,
#entrevista,
#produccion,
#capitulo,
#de-todo {
  margin: 1em 7%;
}
#producciones,
#series,
#entrevistas {
  margin: 1em 5%;
}
#noticia {
  margin: 1em 9%;
}

#contenido.sitio-sobre,
#contenido.capitulo-ver,
#contenido.serie-ver {
  margin-top: 0;
}
/**
 * Portada
 */
#portada #zona-social {
  position: absolute;
  right: 5%;
  float: none;
}
/**
 * Produccion
 */
#produccion #zona-social {
  float: right;
  position: inherit;
}
article header h2 {
  color: #333;
  font-weight: 400;
  font-size: 0.9rem;
}
article header h1 + h2 {
  margin: 0.5em 0.1em 1em 0.1em;
  color: #999;
  font-size: 1.3em;
  font-family: 'Roboto Condensed';
  font-weight: 100;
  float: left;
}


/**
 * Serie
 */
#serie .relacionados {
  margin: 0 9.45%;
}
#contenido .capitulo-ver .portada-serie {
  height: 9rem;
}
#contenido .portada-serie {
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  border-bottom: 0;
  height: 45vh;
}
#contenido .portada-serie .titulo {
  margin: 0 5% 0.5rem;
  max-width: 90%;
  position: absolute;
  bottom: 0;
}
#contenido .portada-serie h1 {
  color: #FFF;
  text-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5), 0 0 0.1em rgba(0, 0, 0, 0.5);
  max-height: 6em;
  line-height: 1.1em;
  letter-spacing: -0.02em;
}
#contenido .portada-serie h2 {
  margin: 0.5em 0em 0em 0.1em;
  color: #FFF;
  font-weight: 400;
  font-size: 0.9rem;
  text-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
}
.portada-serie #zona-social {
  bottom: -4.1em;
  position: absolute;
  right: 5%;
}
/**
 * Capitulo
 */
.capitulo-ver .portada-serie .titulo h1 {
  font-size: 1.5rem;
  margin: 0;
}
#contenido.capitulo-ver .portada-serie {
  font-size: 1.2rem;
  margin: 0 0 2em 0;
  height: 30vh;
}

/**
 * Footer
 */
#footer {
  padding: 1em 2%;
  margin: 2%;
  width: 92%;
  clear: both;
  float: left;
  font-size: 0.7em;
}
#footer #dostercios-footer {
  margin: 1em 0;
  width: 100%;
}
#footer #dostercios-footer img {
  padding: 0em 1.5em 1em 1.5em;
}
#footer #dostercios-footer .texto {
  padding: 1em;
}


/**
 * Elementos
 * - zona social
 */
/* Zona Social*/
#zona-social {
  text-align: right;
  padding: 0.8rem 0;
  /*position: absolute;*/
  /*right: 5%;*/
  float: right;
}
#zona-social a {
  background-color: rgba(100, 100, 100, 0.5);
  width: 2.5em;
  height: 2.5em;
  display: inline-block;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  vertical-align: middle;
}
#zona-social a:hover {
  background-color: rgba(170, 170, 170, 0.7);
}
#zona-social a:active {
  box-shadow: 0 0 0.1em 0em rgba(0, 0, 0, 0.3) inset;
}
#zona-social a.facebook {
  background-image: url(../img/iconos/facebook_i.png);
}
#zona-social a.tumblr {
  background-image: url(../img/iconos/tumblr.png);
}
#zona-social a.google {
  background-image: url(../img/iconos/gmas.png);
}
#zona-social a.twitter {
  background-image: url(../img/iconos/twitter_i.png);
}
#zona-social a.pinterest {
  background-image: url(../img/iconos/pinterest_i.png);
}
#zona-social a.instagram {
  background-image: url(../img/iconos/instagram.png);
}
/* imágenes de portada */
#imagenes {
  width: 100%;
}
#imagenes .imagen {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  overflow: hidden;
  padding-bottom: 10%;
}
/* video principal */
.video-principal {
  margin: 0 auto;
}
/* link para entrar al adminstrador */
#entrar {
  color: #777;
}

/**
 * Listas de
 *
 */
.lista {
}
.lista .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.15em;
  overflow: hidden;
  position: relative;
  margin: 2%;
  width: 96%;
  display: block;
}
.lista .item {
}
.lista .item .textos {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em 1em;
  position: absolute;
  transition: all 500ms;
  bottom: 0em;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.lista .item .textos .tipo {
  color: #EEE;
  font-size: 0.7em;
  font-weight: 300;
}
.lista .item .textos .titulo {
  width: 100%;
  color: #FFF;
  font-size: 1.3em;
  font-family: 'Roboto Condensed';
  font-weight: 900;
  line-height: 1.2em;
  padding: 0 0 0.2em 0em;
  text-shadow: 0 0 0.1em rgba(0,0,0,0.5);
}
.lista .item .textos .resumen b {
}
.lista .item .textos .resumen {
  letter-spacing: -0.02em;
  font-size: 0.9rem;
  color: #FFF;
  text-shadow: 0 0 0.1em #000;
  line-height: 1.3em;
}
.lista .item .textos .texto {
  font-size: 0.9rem;
  line-height: 1.4em;
  transition: all 500ms;
}
.lista .item.grande a {
}
.lista .item.grande a .textos {
}
.lista .item.grande a .textos .tipo {
}
.lista .item.grande a .textos .titulo {
}
.lista .item.grande a .textos .texto {
}
/* Descargas */
.descargas {
  margin: 1em 3%;
}
.descargas .item {
  display: inline-block;
  margin-bottom: 1em;
}
.descargas .item:hover {
  background: #EEE;
}
.descargas .item .icono {
  display: inline-block;
  width: 15%;
  vertical-align: top;
  margin: 0.5em;
  vertical-align: middle;
}
.descargas .item .icono img {
  width: 100%;
}
.descargas .item .contenido {
  width: calc(85% - 1.3em);
  display: inline-block;
  padding: 0.8em 0;
  vertical-align: middle;
}
.descargas .item .contenido .description {
  font-size: 0.9em;
}
.descargas .item .contenido .value {
  width: 100%;
  overflow: hidden;
  height: 1.5em;
}
.descargas .item .contenido .value span {
  text-overflow: ellipsis;
  color: #1565C0;
  display: block;
  overflow: hidden;
}

/**
 * Helpers
 */
.cita {
  font-size: 1.3em;
  margin: 1em 1em 0.5em;
  font-weight: 700;
  font-style: oblique;
  color: #AAA;
  font-family: 'Roboto Slab';
}
.texto-simple {
  padding: 1em 0 2em;
  text-align: justify;
}
.texto-simple p {
  line-height: 1.4em;
  margin-bottom: 1em;
}
.imagen-grande {
  padding: 1.3% 0em;
}
.imagen-grande img {
  width: 100%;
}
.wraper-normal {
  margin: 0 7%;
}
.wraper {
  margin: 0 12%;
}
/* proporciones */
*[class*='proporcion'] {
  position: relative;
}
*[class*='proporcion']::before {
  display: block;
  content: "";
  width: 100%;
}
*[class*='proporcion'] > .contenido {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.proporcion8-5:before {
  padding-top: 62.5%;
}
.proporcion1-1:before {
  padding-top: 100%;
}
.proporcion2-1:before {
  padding-top: 50%;
}
.proporcion2-3:before {
  padding-top: 150%;
}
.proporcion5-11:before {
  padding-top: 220%;
}
.proporcion10-13:before {
  padding-top: 130%;
}
.proporcion1-2:before {
  padding-top: 200%;
}
.proporcion16-9:before,{
  padding-top: 56.25%;
}
.right {
  float: right;
}
.left {
  float: left;
}

/**
 * Overrides
 */
/* slick* */
.slick-dots {
  bottom: 0;
}
.slick-slider {
  margin-bottom: 0;
}

.video-principal .contenido {
  padding: 0;
  position: relative;
}
table {
  margin: 0 auto;
}

#publicaciones {
  margin: 0 12% !important;
}
#publicaciones .item {
  min-width: 24vw;
  max-width: 45vh;
  margin: 0 auto;
  height: 80vh;
  max-height: 60vw;
  min-height: 30em;
}
#publicaciones .item .imagen {
  height: 60%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all linear 600ms;
}
#publicaciones .item:hover .imagen {
  transition: all linear 300ms;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}
#publicaciones .item .textos {
  height: 30%;
  background: none;
  bottom: auto;
  position: inherit;
  padding: 0.5em;
}
#publicaciones .item .textos .titulo {
  color: #000;
  text-shadow: none;
}
#publicaciones .item .textos .resumen {
  color: #333;
  text-shadow: none;
  font-size: 0.9rem;
}
